.card {
    border: 1px solid #9b9a9a;
    padding: 16px;
    border-radius: 16px;
    width: 450px;
    text-align: center;
    box-shadow: 3px 3px 5px #696969;
    background-color: #000000;
    cursor: pointer;
}

.card:hover {
    border: 2px solid #9b9a9a;
    box-shadow: 3px 3px 5px #807e7e;
    translate: -3px -3px;
    transition: all 0.20s ease-in-out;
    
}

.card h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    border-left: 3px solid #21c7ab;
    border-width: thick;
    border-radius: 5px;
    width: 256px;
    padding: 1px 2px;
    position: relative;
    left: 105px;

}

.card p.status {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    border: white;
    border-radius: 7px;
    padding: 5px 7px;
    width: 115px;
    position: relative;
    left: 70px;    
}

.card p.especie {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    border: white;
    border-radius: 7px;
    padding: 5px 10px;
    width: 140px;
    position: relative;
    left: 215px;
    bottom: 44px;
}

.card p.origem {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    border: white;
    border-radius: 7px;
    padding: 5px 15px;
    width: 155px;
    position: relative;
    bottom: 45px;
    left: 135px;
}

.card img {
    border-radius: 16px;
    width: 300px;
    height: 300px;
    position: relative;
    top: -30px;
}