.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    width: 330px;
    text-align: center;
    color: #000000;
    background-color: #e7e7e7;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.card:hover {
    border: 2px solid black;
    box-shadow: 3px 3px 3px #1f1f1f;
    translate: -3px -3px;
}

.card h2 {
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    border-left: 3px solid #21c7ab;
    border-width: thick;
    border-radius: 5px;
}

.card .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 16px;
}

.card .tags div {
    background-color: white;
    color: black;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
}

.card img {
    border-radius: 16px;
    width: 300px;
    height: 300px;
}